
@font-face {
    font-family: 'HelveticaNeueCyrillic';
    src: url('../fonts/HelveticaNeueCyrillic-light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/HelveticaNeueCyrillic-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/HelveticaNeueCyrillic-light.woff') format('woff'), /* Modern Browsers */
        url('../fonts/HelveticaNeueCyrillic-light.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/HelveticaNeueCyrillic-light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/HelveticaNeueCyrillic-light.svg#Bizon') format('svg'); /* Legacy iOS */
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Bizon';
    src: url('../fonts/Bizon.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Bizon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Bizon.woff') format('woff'), /* Modern Browsers */
        url('../fonts/Bizon.woff2') format('woff2'), /* Modern Browsers */
        url('../fonts/Bizon.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Bizon.svg#Bizon') format('svg'); /* Legacy iOS */
    font-weight:normal;
    font-style:normal;
}


html, body {text-align: center; align: center; overflow: auto; min-width: 400px; min-height: 800px; position: relative; border: 0; padding: 0; margin: 0 auto 0 auto; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; background-image: url("../images/bg.png"); background-color: #ffffff; background-repeat: repeat; background-position: center center; z-index: 0; text-decoration: none; outline: none; cursor: default; text-transform: none;}
a, a:active, a:focus, a:hover, a:visited, a.link:hover, a.link:visited, a.link:active, a.link:focus, a.link, p {border: 0; padding: 0; margin: 0; font-family: HelveticaNeueCyrillic, Helvetica, Arial; color: #0066cc; font-size: 100%; text-decoration: none; outline: none; cursor: default; text-transform: none;}
p {color: #333333;}
a:hover, a.link:hover {cursor: pointer;}
* HTML a:hover, a.link:hover {cursor: hand;}
a.link:hover {color: #999999;}
h1, h2, h3 {font-family: HelveticaNeueCyrillic, Helvetica, Arial; color: #666666;}

a.lang:hover, a.lang:visited, a.lang:active, a.lang:focus, a.lang, a.slang:hover, a.slang:visited, a.slang:active, a.slang:focus, a.slang, p.lang {border: 0; padding: 0; margin: 0 1% 0 1%; font-family: HelveticaNeueCyrillic, Helvetica, Arial; color: #009933; font-size: 80%; text-decoration: none; outline: none; cursor: default; text-transform: none;}
a.slang:hover, a.slang:visited, a.slang:active, a.slang:focus, a.slang, p.lang {color: #333333;}
a.lang:hover {cursor: pointer; color: #999999;}
* HTML a.lang:hover {cursor: hand;}

a.ver:hover, a.ver:visited, a.ver:active, a.ver:focus, a.ver, p.ver {border: 0; padding: 0; margin: 0 1% 0 1%; font-family: HelveticaNeueCyrillic, Helvetica, Arial; color: #0066cc; font-size: 120%; text-decoration: none; outline: none; cursor: default; text-transform: none;}
a.ver:hover {cursor: pointer; color: #999999;}
* HTML a.ver:hover {cursor: hand;}

a.lic:hover, a.lic:visited, a.lic:active, a.lic:focus, a.lic, p.lic, a.nlic:hover, a.nlic:visited, a.nlic:active, a.nlic:focus, a.nlic, p.nlic {transform: rotate(-10deg); -webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); -o-transform: rotate(-10deg); -ms-transform: rotate(-10deg); border: 0; padding: 0; margin: 0; font-family: Bizon, HelveticaNeueCyrillic, Helvetica, Arial; color: #009933; font-size: 140%; text-decoration: none; outline: none; cursor: default; text-transform: none;}
a.nlic:hover, a.nlic:visited, a.nlic:active, a.nlic:focus, a.nlic, p.nlic {transform: rotate(10deg); -webkit-transform: rotate(10deg); -moz-transform: rotate(10deg); -o-transform: rotate(10deg); -ms-transform: rotate(10deg); color: #cc0033;}

//line-height: 128px;
a.image:hover, a.image:visited, a.image:active, a.image:focus, a.image {height: 128px; width: 128px; line-height: 128px; border: 0; padding: 0; top: 0; bottom: 0; left: 0; right: 0; margin: 0; font-family: HelveticaNeueCyrillic, Helvetica, Arial; font-size: 100%; color: #009933; text-decoration: none; outline: none; cursor: default; text-transform: none;}
a.image:hover {cursor: pointer; color: #999999;}
* HTML a.image:hover {cursor: hand;}
img.logo-mlug, img.logo-mhs, img.logo-lvee {position: relative; border: 0; padding: 0; margin: 0 2% 0 2%; top: 0; bottom: 0; left: 0; right: 0; height: 128px; width: 128px; background-image: none; background-color: none; background-repeat: no-repeat; background-position: center center; z-index: 0; text-decoration: none; outline: none; cursor: default; text-transform: none;}
img.logo-mlug:hover, img.logo-mhs:hover, img.logo-lvee:hover {cursor: pointer;}
* HTML img.logo-mlug:hover, img.logo-mhs:hover, img.logo-lvee:hover {cursor: hand;}
img.logo-mlug {height: 108px; width: 88px; left: 12px;}
img.logo-mhs {height: 104px; width: 104px; left: 8px; margin: 0 2% 0 0;}
img.logo-lvee {height: 108px; width: 128px; margin: 0 0 0 2%;}
