img.logo-mpl {position: relative; border: 0; padding: 10px 0 10px 0; margin: 0; top: 0; bottom: 0; left: 0; right: 0; height: 44px; width: 154px; background-image: none; background-color: none; background-repeat: no-repeat; background-position: center center; z-index: 0; text-decoration: none; outline: none; cursor: default; text-transform: none;}
img.logo-mpl:hover {cursor: pointer;}
* HTML img.logo-mpl:hover {cursor: hand;}
